

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    width: 100%;
    height: 700px;
    display: flex;

    .text-road{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1{
            font-weight: 300;
            font-size: 4rem;
            margin-left: 10%;
            margin-bottom: 20px;
        }


        p{
            font-size: 1.5rem;
            line-height: 35px;
            width: 80%;
            margin-left: 10%;
        }
    }

    .image-road{
        width: 50%;
        height: 100%;

        img{
            object-fit: cover;
            object-position: 100%;
            width: 100%;
            height: 100%;
        }
    }
}




button, #btn{
    cursor: pointer;
    margin-top: 30px;
    font-weight: 500;
    text-transform: uppercase;
    background: white;
    border: 1px rgb(196, 196, 196) solid;
    width: 20%;
    margin-left: 10%;
    padding: 10px;
    border-radius: 25px;
}





.forest-road{
    width: 100%;
    height: 400px;
    display: flex;
    position: relative;


    .forest-image{
        width: 35%;

        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        &:after{
            content: "";
            width: 65%;
            height:2px;
            background: rgb(225, 225, 225);
            position: absolute;
        }

    }


    .forest-text{
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2{
            font-weight: 300;
            font-size: 2.7rem;
            margin-left: 10%;
            margin-bottom: 20px;
        }

        p{
            font-size: 1.5rem;
            line-height: 35px;
            width: 80%;
            margin-left: 10%;
        }

    }

    button{
        width: 15%;
    }
}


.bridge-road{
    width: 100%;
    height: 400px;
    display: flex;
    position: relative;

    .bridge-text{
        width: 65%;
    }

    .bridge-image{
        width: 35%;


        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        &:after{
            content: "";
            width: 65%;
            height:2px;
            background: rgb(225, 225, 225);
            position: absolute;
            left:35%;
            top: -0.5%;
        }
    }

    .bridge-text{
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2{
            font-weight: 300;
            font-size: 2.7rem;
            margin-left: 10%;
            margin-bottom: 20px;
        }

        p{
            font-size: 1.5rem;
            line-height: 35px;
            width: 80%;
            margin-left: 10%;
        }

    }

    button{
        width: 15%;
    }
}


h3{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: 400;
    position: relative;

    &:after{
        content: "";
        width: 65%;
        height:2px;
        background: rgb(225, 225, 225);
        position: absolute;
        left:0%;
        top: -75%;
    }
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-details{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: center;


    .contact-name{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;


        input{
            margin-top: 20px;
            width: 95%;
            height: 50px;
        }
    }


    .contact-email{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;



        input{
            margin-top: 20px;
            width: 95%;
            height: 50px;
        }
    }

}


.message{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    label{
        margin: 20px 0;
    }



    textarea{
        width: 48.5%;
        height: 150px;
    }


}

#btn{
    width: 20%;
    margin: 30px 0;
}


.social-network{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 150px;
    position: relative;
    
    &::before{
        content: "";
        width: 80%;
        height:2px;
        background: rgb(225, 225, 225);
        position: absolute;
        top: 0;
    }
}



.fa-twitter, .fa-instagram, .fa-envelope{
    border: 1px solid rgba(225, 225, 225);
    padding: 10px;
    border-radius: 25px;
}

.fa-facebook-f {
    border: 1px solid rgba(225, 225, 225);
    padding: 10px 13px;
    border-radius: 25px;
}













@media screen and (max-width :  900px){

    header{
        flex-direction: column;

        .text-road{
            width: 100%;

            h1{
                margin: auto;
            }

            p{
                margin: auto;
                text-align: center;
            }

            button{
                width: 35%;
                margin: auto;
                margin-top: 20px;
                margin-bottom: 20px;
        
            }

        }

        .image-road{
            width: 90%;
            height: 50%;
            margin: auto;
        }
    }

    .forest-road{
        flex-direction: column;
        height: 100%;

        .forest-text{
            width: 100%;


            h2{
                margin: auto;
            }

            p{
                margin: auto;
                text-align: center;
            }

            button{
                width: 35%;
                margin: auto;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }


        .forest-image{
            order: 2;
            width: 90%;
            margin: auto;
        }
    }


    .bridge-road{
        flex-direction: column;
        height: 100%;

        .bridge-text{
            width: 100%;
            height: 50%;

            h2{
                margin: auto;
            }

            p{
                text-align: center;
            }

            button{
                width: 35%;
                margin: auto;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }


        .bridge-image{
            width: 90%;
            height: 50%;
            margin: auto;
        }

    }


    .forest-road .forest-image:after,.bridge-road .bridge-image:after,h3:after{
        visibility: hidden;
    }

    .contact-details{

        .contact-name{
            width: 40%;
        }

        .contact-email{
            width: 40%;
        }
    }

    .message{
        
        textarea{
            width: 77%;
        }
    }

    #btn{
        width: 40%;
    }


}





